﻿<footer id="fh5co-footer" role="contentinfo">

    <div class="container">
        <div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
            <h3>About Us</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        </div>

        <div class="col-md-6 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
            <h3>Our Services</h3>
            <ul class="float">
                <li><a href="#">Web Design</a></li>
                <li><a href="#">Branding &amp; Identity</a></li>
                <li><a href="#">Free HTML5</a></li>
                <li><a href="#">HandCrafted Templates</a></li>
            </ul>
            <ul class="float">
                <li><a href="#">Free Bootstrap Template</a></li>
                <li><a href="#">Free HTML5 Template</a></li>
                <li><a href="#">Free HTML5 &amp; CSS3 Template</a></li>
                <li><a href="#">HandCrafted Templates</a></li>
            </ul>

        </div>

        <div class="col-md-2 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
            <h3>Follow Us</h3>
            <ul class="fh5co-social">
                <li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="icon-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="icon-google-plus"></i> Google Plus</a></li>
                <li><a href="#"><i class="icon-instagram"></i> Instagram</a></li>
            </ul>
        </div>


        <div class="col-md-12 fh5co-copyright text-center">
            <p>&copy; 2020 Free HTML5 template. All Rights Reserved. <span>Designed with <i class="icon-heart"></i> by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images by <a href="http://unsplash.com/" target="_blank">Unsplash</a></span></p>
        </div>

    </div>
</footer>
