﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage

<header id="fh5co-header" role="banner">
    <div class="container">
        <div class="header-inner">
            <h1><i class="sl-icon-energy"></i><a href="/">Lesser</a></h1>
            <nav role="navigation">
                <ul>
                    <li><a class="active" href="/">Home</a></li>
                        <li><a href="/blog/">Blogy</a></li>
                        <li><a href="/portfolio/">Portfolio</a></li>
                        <li><a href="/services/">Services</a></li>
                        <li><a href="/about/">About</a></li>
                        <li><a href="/contact/">Contact</a></li>

                </ul>
            </nav>
        </div>
    </div>
</header>
