﻿@using Umbraco.Web
@using Umbraco.Web.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage


@{
    //var anchors = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("intro");
    //var carousel = item.Value<IEnumerable<IPublishedContent>>("intro", fallback: Fallback.ToLanguage, defaultValue: null);

    //Umbraco.ContentAtRoot().FirstOrDefault().ChildrenOfType("introControls").Where(x => x.IsVisible() );
    // @Umbraco.AssignedContentItem.GetProperty("intro")

    var intro = @Umbraco.AssignedContentItem.GetPropertyValue("intro");

    ///var intro = @Umbraco.AssignedContentItem.Value("Intro");

}



<div id="fh5co-intro-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2>@intro</h2>
            </div>
        </div>
    </div>
</div>

