﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "WebBase.cshtml";
}

@* the fun starts here *@

<div class="container">

    @{ Html.RenderAction("RenderTitleControls", "SiteLayout"); }

</div>

@*
    <div class="container">

        <h3>this is not from the Macro:</h3>
        @{ Html.RenderAction("RenderContactForm", "Contact"); }

    </div>
*@

<div class="container">

    <h3>this is from the Macro:</h3>
    @Umbraco.RenderMacro("ContactForm")

</div>


<br>
<ul>
    <li><a href="@Model.Content.Site().Url">@Model.Content.Site().Name</a></li>
    @foreach (var node in Model.Content.Site().Children)
    {
        <li><a href="@node.Url">@node.Name</a></li>
    }
</ul>

<br>
<h5>Created before Dec 1 2020</h5>
@{
    var selection = Model.Content.Site().FirstChild("about").Children()
                        .Where(x => x.IsVisible())
                        .Where(x => x.CreateDate < DateTime.Parse("2020-12-01"));
}
<ul>
    @foreach (var item in selection)
    {
        <li>
            <a href="@item.Url">@item.Name</a>
        </li>
    }
</ul>


<h2> Blog entries: </h2>
@{
    var selection2 = Model.Content.Site().FirstChild("blog").Children()
                        .Where(x => x.IsVisible());
}
<ul>
    @foreach (var item in selection2)
    {
        <li>
            <a href="@item.Url">@item.Name</a>
        </li>
    }
</ul>

<hr>
<h5>TypedContentAtRoot() ... Get the children of the first content item found in the root</h5>
@foreach (var child in Umbraco.TypedContentAtRoot().First().Children)
{
    <a href="@child.Url">@child.Name</a>
}

@Model.Content.GetPropertyValue("Copyright")

<h7>Umbraco.Url = @Umbraco.Url</h7>




