﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "WebBase.cshtml";
}

@* the fun starts here *@

	<div id="fh5co-blog-section">
		<div class="container">

			@{ Html.RenderAction("RenderTitleControls", "SiteLayout"); }

			<div class="row">
				<div class="col-md-4 text-center">
					<div class="blog-inner">
						<a href="#"><img class="img-responsive" src="/images/image_4.jpg" alt="Blog"></a>
						<div class="desc">
							<h3><a href="#">New iPhone 6 Released</a></h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
							<p><a href="#" class="btn btn-primary btn-outline with-arrow">Read More<i class="icon-arrow-right"></i></a></p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="blog-inner">
								<a href="#"><img class="img-responsive" src="/images/image_7.jpg" alt="Blog"></a>
								<div class="desc">
									<h3><a href="#">New iPhone 6 Released</a></h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
									<p><a href="#" class="btn btn-primary btn-outline with-arrow">Read More<i class="icon-arrow-right"></i></a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
