﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = null;
}

@* the fun starts here *@

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Title</title>

        <!-- Animate.css -->
        <link rel="stylesheet" href="/css/animate.css">
        <!-- Icomoon Icon Fonts-->
        <link rel="stylesheet" href="/css/icomoon.css">
        <!-- Simple Line Icons -->
        <link rel="stylesheet" href="/css/simple-line-icons.css">
        <!-- Bootstrap  -->
        <link rel="stylesheet" href="/css/bootstrap.css">
        <!-- Theme style  -->
        <link rel="stylesheet" href="/css/style.css">

        <!-- Modernizr JS -->
        <script src="/scripts/modernizr-2.6.2.min.js"></script>

        @RenderSection("Head", required: false)
    </head>
    
    <body>
        @RenderSection("ScriptsTop", required: false)

        <h1>Hello world</h1>
        @{ Html.RenderAction("RenderHeader", "SiteLayout"); }

        @RenderBody()

        @{ Html.RenderAction("RenderFooter", "SiteLayout"); }


        <!-- jQuery -->
        <script src="/scripts/jquery.min.js"></script>
        <!-- jQuery Easing -->
        <script src="/scripts/jquery.easing.1.3.js"></script>
        <!-- Bootstrap -->
        <script src="/scripts/bootstrap.min.js"></script>
        <!-- Waypoints -->
        <script src="/scripts/jquery.waypoints.min.js"></script>

        @RenderSection("ScriptsBottom", false)

        <!-- MAIN JS -->
        <script src="/scripts/main.js"></script>
    </body>
</html>
