﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "MasterView.cshtml";
}

@section Head {
    <style>
        body {
            background: #ff0000;
        }
    </style>
}

<p>My content</p>

@Html.Partial("partialView1")
