﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

@* the fun starts here *@

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/css/icomoon.css">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="/css/simple-line-icons.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Modernizr JS -->
    <script src="/scripts/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <title>2 Page Title</title>

    @RenderSection("Head", required: false)
</head>
    
<body>
    @RenderSection("ScriptsTop", required: false)

    @{ Html.RenderAction("RenderHeader", "SiteLayout"); }

    @*<h1 class="text-primary bg-warning">Primary HELLO, Background warning!</h1>*@

    @RenderBody()

    @{ Html.RenderAction("RenderFooter", "SiteLayout"); }



    <!-- jQuery -->
    <script src="/scripts/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="/scripts/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="/scripts/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="/scripts/jquery.waypoints.min.js"></script>

    @RenderSection("ScriptsBottom", false)

    <!-- MAIN JS -->
    <script src="/scripts/main.js"></script>
</body>
</html>


                