﻿@*@model Umbraco7_CleanBlog.ViewModels.ContactFormViewModel*@
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContactFormViewModel>

@using Umbraco7_CleanBlog.Controller
@using System.Web.Mvc.Html
@using Umbraco7_CleanBlog.ViewModels

@using (Html.BeginUmbracoForm<ContactController>("HandleContactForm"))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="your-name-textbox">Your Name *</label>
        <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control form-control-lg", placeholder = "Your Name", maxlength = 80 })
    </div>

    <div class="form-group">
        <label for="your-name-textbox">Your Email Address</label>
        <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control form-control-lg", placeholder = "Your Email Address", maxlength = 255 })
    </div>

    <div class="form-group">
        <label for="your-name-textbox">Subject</label>
        <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
        @Html.TextBoxFor(m => m.Subject, new { @class = "form-control form-control-lg", placeholder = "Email Subject", maxlength = 255 })
    </div>

    <div class="form-group">
        <label for="your-name-textbox">Comments</label>
        <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
        @Html.TextAreaFor(m => m.Comment, new { @class = "form-control form-control-lg", placeholder = "Your Comments", maxlength = 500 })
    </div>

    <div class="form-group">
        <button class="btn btn-outline-primary btn-lg" type="submit">Send</button>
    </div>
}
