﻿
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a href="#" class="featured-grid" style="background-image: url(images/image_6.jpg);">
                <div class="desc">
                    <h3>Work with love</h3>
                    <span>Web Design</span>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="#" class="featured-grid featured-grid-2" style="background-image: url(images/image_2.jpg);">
                <div class="desc">
                    <h3>Music Lover</h3>
                    <span>Application</span>
                </div>
            </a>
            <div class="row">
                <div class="col-md-6">
                    <a href="#" class="featured-grid featured-grid-2" style="background-image: url(images/image_3.jpg);">
                        <div class="desc">
                            <h3>Travel</h3>
                            <span>Illustration</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#" class="featured-grid featured-grid-2" style="background-image: url(images/image_8.jpg);">
                        <div class="desc">
                            <h3>Captured</h3>
                            <span>Photo</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

