﻿<%@ Application Codebehind="Global.asax.cs"  Inherits="Umbraco.Web.UmbracoApplication" Language="C#" %>

<script runat="server">

    // NOTE IF YOU ADD THIS HERE, IT WILL HIDE THE ONE IN THE UMBRACOAPPLICATION
    //void Application_Start(object sender, EventArgs e)
    //{
    //    // Code that runs on application startup
    //    _pagePath = Server.MapPath("~/Folder/Page.aspx");
    //}

    // ...

</script>
          